/doc
/.vs
/~$ding Standards.docx
/VS2022/x64
/VS2022/.vs
/VS2022/Apps/SimpleTriangle/moc
/VS2022/Apps/SimpleTriangle/x64
/VS2022/AppsCommon/qrc
/VS2022/AppsCommon/x64
/VS2022/Editor/moc
/VS2022/Editor/x64
/VS2022/Engine/moc
/VS2022/Engine/x64
/VS2022/GPU/x64
/VS2022/GPU/moc
/VS2022/SDK/moc
/VS2022/SDK/x64
/VS2022/Apps/SimpleTriangle/SimpleTriangle.vcxproj.user
/VS2022/Concurrent/Concurrent.vcxproj.user
/VS2022/Editor/Editor.vcxproj.user
/VS2022/Engine/Engine.vcxproj.user
/VS2022/GPU/GPU.vcxproj.user
/VS2022/Local.props
/VS2022/SDK/SDK.vcxproj.user
/VS2022/Serialize/Serialize.vcxproj.user
/VS2022/StdExt/StdExt.vcxproj.user
/VS2022/x64
