/VS2013/*.suo
/VS2013/*.sdf
/VS2013/*.opensdf
/VS2013/Apps/SimpleTriangle/*.user
/VS2013/Apps/SimpleTriangle/SimpleTriangle.vcxproj.user
/VS2013/Apps/SimpleTriangle/moc
/VS2013/Apps/SimpleTriangle/x64
/VS2013/AppsCommon/AppsCommon.vcxproj.user
/VS2013/AppsCommon/x64
/VS2013/AppsCommon/qrc
/VS2013/Concurrent/x64
/VS2013/Editor/moc
/VS2013/Editor/x64
/VS2013/Engine/moc
/VS2013/Engine/x64
/VS2013/GPU/Debug
/VS2013/GPU/*.user
/VS2013/GPU/x64
/VS2013/GPU/moc
/VS2013/Resource/x64
/VS2013/x64
/doc
/VS2013/Local.props
/VS2013/SDK/x64
/VS2013/SDK/moc
/VS2013/Editor/*.user
