/doc
/~$ding Standards.docx
/VS2017/x64
/VS2019/.vs
/VS2019/Apps/SimpleTriangle/moc
/VS2019/Apps/SimpleTriangle/x64
/VS2019/AppsCommon/qrc
/VS2019/AppsCommon/x64
/VS2019/Editor/moc
/VS2019/Editor/x64
/VS2019/Engine/moc
/VS2019/Engine/x64
/VS2019/GPU/x64
/VS2019/GPU/moc
/VS2019/SDK/moc
/VS2019/SDK/x64
/VS2019/Apps/SimpleTriangle/SimpleTriangle.vcxproj.user
/VS2019/Concurrent/Concurrent.vcxproj.user
/VS2019/Editor/Editor.vcxproj.user
/VS2019/Engine/Engine.vcxproj.user
/VS2019/GPU/GPU.vcxproj.user
/VS2019/Local.props
/VS2019/SDK/SDK.vcxproj.user
/VS2019/Serialize/Serialize.vcxproj.user
/VS2019/StdExt/StdExt.vcxproj.user
/VS2019/x64
